# Description: BBP-WORKFLOW config to generate human-readable symbolic links for simulation campaign
# Author: Christoph Pokorny
# Date: 07/2023

[DEFAULT]
# Knowledge Graph project where data will be persisted
# Staging instance (sandbox project)
# kg-base: https://staging.nexus.ocp.bbp.epfl.ch/v1
# kg-org: bbp_test
# kg-proj: christoph
# OR Production instance of Nexus
kg-proj: somatosensorycortex

[SimCampaignInfo]
# BlobStim_Replication_StGen_O1v5-SONATA_CaDepScan (03/2022)
# sim-config-url: https://bbp.epfl.ch/nexus/v1/resources/bbp/somatosensorycortex/_/c3a2d431-0fa9-4a52-bbbd-f8c82fa17f8f
# BlobStim_Replication_StGen_O1v5-SONATA_CaDepScan_RECHECK (07/2023)
# sim-config-url: https://bbp.epfl.ch/nexus/v1/resources/bbp/somatosensorycortex/_/19c84759-b407-4242-833b-bac804fe1fc7
# BlobStim_Replication_StGen_O1v5-SONATA_CaDepScan_RECHECK_neurodamus1p10 (07/2023)
# sim-config-url: https://bbp.epfl.ch/nexus/v1/resources/bbp/somatosensorycortex/_/55ddb6ee-9356-4094-8dd0-9807579d5acf
# BlobStim_Replication_StGen_O1v5-SONATA_CaDepScan_RECHECK_neurodamus1p11 (07/2023)
sim-config-url: https://bbp.epfl.ch/nexus/v1/resources/bbp/somatosensorycortex/_/cbb447ef-ba59-4b8f-8b83-e5f558131be1

# HOW TO RUN:
# Specify sim-config-url from Nexus!
# bbp-workflow launch --follow --config workflows/GenerateSymLinks_BlobStimReplication__O1v5-SONATA-TC-BlobStim.cfg bbp_workflow.simulation SimCampaignInfo generate-symlinks
