# Description: BBP-WORKFLOW config to launch simulation campaign
# Author: Christoph Pokorny
# Date: 02/2022

[DEFAULT]
# Knowledge Graph project where data will be persisted
# Staging instance (sandbox project)
kg-base: https://staging.nexus.ocp.bbp.epfl.ch/v1
kg-org: bbp_test
kg-proj: christoph
# OR Production instance of Nexus
# kg-proj: somatosensorycortex

# Account under which the slurm allocation will run
account: proj83

# Max. number of simultaneous workers
# workers: 2

[SimulationCampaign]
# BlobStim_Replication_O1v5-SONATA
# sim-config-url: https://staging.nexus.ocp.bbp.epfl.ch/v1/resources/bbp_test/christoph/_/3eb26953-4e66-4e31-b150-89c281c368f4
# BlobStim_Replication_StGen_O1v5-SONATA
sim-config-url: https://staging.nexus.ocp.bbp.epfl.ch/v1/resources/bbp_test/christoph/_/6f1a3c1f-65da-4d9c-8008-fbd2fe543513

nodes: 32
cpus-per-task: 2
ntasks_per_node: 36
constraint: cpu
exclusive: True
mem: 0
time: 16:00:00
simulation-type: CortexNrdmsPySim
model-building-steps: 1

# [_CortexSimulationTask]
# module_archive: archive/2020-06
# modules: neurodamus-neocortex/0.3


# HOW TO RUN:
# Specify sim-config-url from Nexus!
# bbp-workflow launch --follow --config workflows/LaunchCampaign_BlobStimReplication__O1v5-SONATA-TC-BlobStim.cfg bbp_workflow.simulation SimulationCampaign benchmark=True
# bbp-workflow launch --follow --config workflows/LaunchCampaign_BlobStimReplication__O1v5-SONATA-TC-BlobStim.cfg bbp_workflow.simulation SimulationCampaign
# Check progress in Luigi Task Visualizer
