# Description: BBP-WORKFLOW config to launch simulation campaign
# Author: Christoph Pokorny
# Date: 12/2022

[DEFAULT]
# Knowledge Graph project where data will be persisted
# Staging instance (sandbox project)
# kg-base: https://staging.nexus.ocp.bbp.epfl.ch/v1
# kg-org: bbp_test
# kg-proj: christoph
# OR Production instance of Nexus
kg-proj: somatosensorycortex

# Account under which the slurm allocation will run
account: proj9

# Max. number of simultaneous workers
workers: 10

[SimulationCampaign]
# Baseline campaign, meta_seed 3210 (BlobStimReliability_O1v5-SONATA) [ca. 9h @ 32 nodes x 10]
# sim-config-url: https://bbp.epfl.ch/nexus/v1/resources/bbp/somatosensorycortex/_/ee14a338-f86a-404c-b8b8-5fb7e3cf3892
# Baseline campaign, meta_seed 3220 (BlobStimReliability_O1v5-SONATA_2) [ca. 9h @ 32 nodes x 10]
# sim-config-url: https://bbp.epfl.ch/nexus/v1/resources/bbp/somatosensorycortex/_/671d8005-3b38-4c95-959a-a504d988d413
# Baseline campaign, meta_seed 3230 (BlobStimReliability_O1v5-SONATA_3) [ca. 9h @ 32 nodes x 10]
# sim-config-url: https://bbp.epfl.ch/nexus/v1/resources/bbp/somatosensorycortex/_/8394d8f7-0a32-437f-bdaf-e32f95c6f2fb

# Outgoing connections from 10 top-dim sources with high reliability removed, meta_seed 3210 (BlobStimReliability_O1v5-SONATA_TopDimHighReliabOutConnsRemoved) [ca. 9h @ 32 nodes x 10]
# sim-config-url: https://bbp.epfl.ch/nexus/v1/resources/bbp/somatosensorycortex/_/bc856702-39c9-4110-bb7c-f20102dd031b
# Outgoing connections from 10 top-dim sources with high reliability removed, meta_seed 3220 (BlobStimReliability_O1v5-SONATA_TopDimHighReliabOutConnsRemoved_2) [ca. 9h @ 32 nodes x 10]
# sim-config-url: https://bbp.epfl.ch/nexus/v1/resources/bbp/somatosensorycortex/_/87aced13-d1df-4442-93a8-6e4a17a4733c
# Outgoing connections from 10 top-dim sources with high reliability removed, meta_seed 3230 (BlobStimReliability_O1v5-SONATA_TopDimHighReliabOutConnsRemoved_3) [ca. 9h @ 32 nodes x 10]
# sim-config-url: https://bbp.epfl.ch/nexus/v1/resources/bbp/somatosensorycortex/_/5f3f2c24-54b8-439b-9e30-c8f402167ada

# Outgoing connections from 112 top-dim sources with high reliability removed (BlobStimReliability_O1v5-SONATA_TopDimHighReliabOutConnsRemovedV2) [ca. 9h @ 32 nodes x 10]
# sim-config-url: https://bbp.epfl.ch/nexus/v1/resources/bbp/somatosensorycortex/_/13636239-4f06-4b07-81e9-6404db22a644

# Outgoing connections removed, based on random "block design"
### Structural selection (BlobStimReliability_O1v5-SONATA_OutConnsRemoved_BlockDesign_Struct) [ca. 9h @ 32 nodes x 90]
# sim-config-url: https://bbp.epfl.ch/nexus/v1/resources/bbp/somatosensorycortex/_/e41d95a2-0e94-4e9a-9898-e0ea1497edf0
### Random selection (BlobStimReliability_O1v5-SONATA_OutConnsRemoved_BlockDesign_Rnd) [ca. 9h @ 32 nodes x 90]
# sim-config-url: https://bbp.epfl.ch/nexus/v1/resources/bbp/somatosensorycortex/_/eacc9dfe-17ad-40b2-ad6e-ad31814c2ae1

# Reciprocal connections removed, with numbers matching random "block design"
### Structural selection (BlobStimReliability_O1v5-SONATA_RecipConnsRemoved_BlockDesign_Struct) [ca. 9h @ 32 nodes x 90]
# sim-config-url: https://bbp.epfl.ch/nexus/v1/resources/bbp/somatosensorycortex/_/6852a83f-3e7c-4705-b6cd-fe2a34bbfba2
### Random selection (BlobStimReliability_O1v5-SONATA_RecipConnsRemoved_BlockDesign_Rnd) [ca. 9h @ 32 nodes x 90]
# sim-config-url: https://bbp.epfl.ch/nexus/v1/resources/bbp/somatosensorycortex/_/1477add6-7a81-445b-a43a-e03dd27bf9e2

# Stepwise removal of reciprocal connections
### Unstructured selection with matching numbers
# sim-config-url: https://bbp.epfl.ch/nexus/v1/resources/bbp/somatosensorycortex/_/0b9b2109-978a-4ab2-a187-86b9216b9df3
### Structured selection: All RC's from spines of dim 5 and 6
# sim-config-url: https://bbp.epfl.ch/nexus/v1/resources/bbp/somatosensorycortex/_/8ce16a48-7e56-4625-803b-2e7fa57ef138
### Structured selection: All RC's from spines of dim 5 and 6 plus half of dim 4
# sim-config-url: https://bbp.epfl.ch/nexus/v1/resources/bbp/somatosensorycortex/_/1b157de3-a25b-451b-97ed-4226a68ddec9
### Structured selection: All RC's from spines of dim 4, 5 and 6
sim-config-url: https://bbp.epfl.ch/nexus/v1/resources/bbp/somatosensorycortex/_/777edd64-acff-439a-9f43-aaafc5c35310


nodes: 32
cpus-per-task: 2
ntasks_per_node: 36
constraint: cpu
exclusive: True
mem: 0
time: 10:00:00
simulation-type: CortexNrdmsPySim
model-building-steps: 1

# [_CortexSimulationTask]
# module_archive: archive/2020-06
# modules: neurodamus-neocortex/0.3


# HOW TO RUN:
# Specify sim-config-url from Nexus!
# bbp-workflow launch --follow --config workflows/LaunchCampaign_BlobStimReliability__O1v5-SONATA-TC-BlobStim.cfg bbp_workflow.simulation SimulationCampaign benchmark=True
# bbp-workflow launch --follow --config workflows/LaunchCampaign_BlobStimReliability__O1v5-SONATA-TC-BlobStim.cfg bbp_workflow.simulation SimulationCampaign
# Check progress in Luigi Task Visualizer
