# Description: BBP-WORKFLOW config to launch simulation campaign
# Author: Christoph Pokorny
# Date: 07/2023

[DEFAULT]
# Knowledge Graph project where data will be persisted
# Staging instance (sandbox project)
# kg-base: https://staging.nexus.ocp.bbp.epfl.ch/v1
# kg-org: bbp_test
# kg-proj: christoph
# OR Production instance of Nexus
kg-proj: somatosensorycortex

# Account under which the slurm allocation will run
account: proj9

# Max. number of simultaneous workers [NOT USED in SimCampaign type of task]
# workers: 15

[SimulationCampaign]
# <Base circuit>
### Baseline campaign, meta_seed 3210 (BlobStimReliability_O1v5-SONATA) [ca. 9h @ 32 nodes x 10]
# sim-config-url: https://bbp.epfl.ch/nexus/v1/resources/bbp/somatosensorycortex/_/ee14a338-f86a-404c-b8b8-5fb7e3cf3892
### Baseline campaign, meta_seed 3220 (BlobStimReliability_O1v5-SONATA_2) [ca. 9h @ 32 nodes x 10]
# sim-config-url: https://bbp.epfl.ch/nexus/v1/resources/bbp/somatosensorycortex/_/671d8005-3b38-4c95-959a-a504d988d413
### Baseline campaign, meta_seed 3230 (BlobStimReliability_O1v5-SONATA_3) [ca. 9h @ 32 nodes x 10]
# sim-config-url: https://bbp.epfl.ch/nexus/v1/resources/bbp/somatosensorycortex/_/8394d8f7-0a32-437f-bdaf-e32f95c6f2fb

# <Manipulated circuits>
### Campaign with 1st-order rewired circuit (BlobStimReliability_O1v5-SONATA_ConnRewired_mc2EE_Order1)
# sim-config-url: https://bbp.epfl.ch/nexus/v1/resources/bbp/somatosensorycortex/_/dcd6606a-6f54-488b-acff-6bed82bdd2e9
# [LAUNCH COMMAND] bbp-workflow launch --follow --config workflows/LaunchCampaign_BlobStimReliability__O1v5-SONATA-TC-BlobStim.cfg bbp_workflow.simulation SimCampaign sim-config-url=https://bbp.epfl.ch/nexus/v1/resources/bbp/somatosensorycortex/_/dcd6606a-6f54-488b-acff-6bed82bdd2e9 parallel-jobs=15

### Campaign with 2nd-order rewired circuit (BlobStimReliability_O1v5-SONATA_ConnRewired_mc2EE_Order2)
# sim-config-url: https://bbp.epfl.ch/nexus/v1/resources/bbp/somatosensorycortex/_/296febe5-f8b5-4fa0-be41-d760cd891548
# [LAUNCH COMMAND] bbp-workflow launch --follow --config workflows/LaunchCampaign_BlobStimReliability__O1v5-SONATA-TC-BlobStim.cfg bbp_workflow.simulation SimCampaign sim-config-url=https://bbp.epfl.ch/nexus/v1/resources/bbp/somatosensorycortex/_/296febe5-f8b5-4fa0-be41-d760cd891548 parallel-jobs=15

### Campaign with 3rd-order rewired circuit (BlobStimReliability_O1v5-SONATA_ConnRewired_mc2EE_Order3)
# sim-config-url: https://bbp.epfl.ch/nexus/v1/resources/bbp/somatosensorycortex/_/dbe64dac-fc72-41f2-91e1-98bb654b88e8
# [LAUNCH COMMAND] bbp-workflow launch --follow --config workflows/LaunchCampaign_BlobStimReliability__O1v5-SONATA-TC-BlobStim.cfg bbp_workflow.simulation SimCampaign sim-config-url=https://bbp.epfl.ch/nexus/v1/resources/bbp/somatosensorycortex/_/dbe64dac-fc72-41f2-91e1-98bb654b88e8 parallel-jobs=15

### Campaign with 4th-order rewired circuit (BlobStimReliability_O1v5-SONATA_ConnRewired_mc2EE_Order4)
# sim-config-url: https://bbp.epfl.ch/nexus/v1/resources/bbp/somatosensorycortex/_/7ce3f8c5-1aff-4f8d-8adb-47ab1d2be7c9
# [LAUNCH COMMAND] bbp-workflow launch --follow --config workflows/LaunchCampaign_BlobStimReliability__O1v5-SONATA-TC-BlobStim.cfg bbp_workflow.simulation SimCampaign sim-config-url=https://bbp.epfl.ch/nexus/v1/resources/bbp/somatosensorycortex/_/7ce3f8c5-1aff-4f8d-8adb-47ab1d2be7c9 parallel-jobs=15

### Campaign with 5th-order rewired circuit (BlobStimReliability_O1v5-SONATA_ConnRewired_mc2EE_Order5)
# sim-config-url: https://bbp.epfl.ch/nexus/v1/resources/bbp/somatosensorycortex/_/208d6b7a-9357-4ae3-8cab-b37a0f29f6df
# [LAUNCH COMMAND] bbp-workflow launch --follow --config workflows/LaunchCampaign_BlobStimReliability__O1v5-SONATA-TC-BlobStim.cfg bbp_workflow.simulation SimCampaign sim-config-url=https://bbp.epfl.ch/nexus/v1/resources/bbp/somatosensorycortex/_/208d6b7a-9357-4ae3-8cab-b37a0f29f6df parallel-jobs=15

nodes: 32
cpus-per-task: 2
ntasks_per_node: 36
constraint: cpu
exclusive: True
mem: 0
time: 10:00:00
simulation-type: CortexNrdmsPySim
model-building-steps: 1

# [_CortexSimulationTask]
# module_archive: archive/2020-06
# modules: neurodamus-neocortex/0.3


# HOW TO RUN:
# Specify sim-config-url from Nexus!
# [OLD] bbp-workflow launch --follow --config workflows/LaunchCampaign_BlobStimReliability__O1v5-SONATA-TC-BlobStim.cfg bbp_workflow.simulation SimulationCampaign benchmark=True
# [OLD] bbp-workflow launch --follow --config workflows/LaunchCampaign_BlobStimReliability__O1v5-SONATA-TC-BlobStim.cfg bbp_workflow.simulation SimulationCampaign
# Execute [LAUNCH COMMAND] from above
# Check progress in Luigi Task Visualizer
